<app-top></app-top>
<app-sidebar></app-sidebar>
<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-20">
            <h2 class="h3 mb-0" #headerName></h2>
        </div>

        <div class="row pb-10">
            <div class="col-lg-12">
                <div class="card-box pl-20 pt-20 pb-20">
                    <app-comp-input (onProductAdded)="getProduct($event)"></app-comp-input>
                </div>
            </div>
        </div>
        <div class="row pb-10">
            <div class="col-lg-12">
                <div class="card-box pl-20 pt-20 pb-20">
                    <app-comp-output [prod-alias]="listproducts"></app-comp-output>
                </div>
            </div>
        </div>
        <app-bottom></app-bottom>
    </div>
</div>