<div class="header">
    <div class="header-left">
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="../../../assets/images/photo1.jpg" alt="" />
                    </span>
                    <span class="user-name">Ross C. Lopez</span>
                </a>
                <div *ngIf="isLoggedIn; else login">
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" (click)="logout()"><i class="dw dw-logout"></i> Log Out</a>
                    </div>
                </div>
                <ng-template #login>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a routerLink="/login" class="dropdown-item"><i class="dw dw-logout"></i> Log in</a>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</div>