<h1>FETCH COUNTRIES</h1>
<select (change)="getCountries($event)">
  <option value="">SELECT COUNTRIES</option>
  <option value="{{ country['cca2'] }}" *ngFor="let country of countries">
    {{ country['name']['common'] }}
  </option>
</select>

<div class="card" style="width: 18rem; margin-top: 20px; margin-left: 10px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>