<app-top></app-top>
<app-sidebar></app-sidebar>
<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-20">
            <h2 class="h3 mb-0">Package includes</h2>
        </div>

        <div class="row pb-10">
            <div class="col-lg-6">
                <div class="card-box pl-20 pt-20 pb-20">
                    <ul>
                        <li> String interpolation</li>
                        <li> Property binding, Event binding</li>
                        <li> Two way binding</li>
                        <li> Parent-child component communication</li>
                        <li> Directives</li>
                        <li> Pipes</li>
                    </ul>
                </div><br>
                <div class="card-box pl-20 pt-20 pb-20">
                    <ul>
                        <li> Simple service</li>
                        <li> Parameterized routing</li>
                        <li> Query based routing</li>
                        <li> Programmatically navigate</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-box pl-20 pt-20 pb-20">
                    <ul>
                        <li> Template driven forms</li>
                        <li> Reactive forms</li>
                        <li> Services</li>
                        <li> Normal Routing and Lazy routing</li>
                        <li> Modules</li>
                        <li> Website title </li>
                    </ul>
                </div><br>
                <div class="card-box pl-20 pt-20 pb-20">
                    <ul>
                        <li> Guards</li>
                        <li> HTTP Method with services (API)</li>
                        <li> HTTP Interceptors</li>
                        <li> HTACCESS file for refreshing</li>
                    </ul>
                </div>
            </div>
        </div>
        <app-bottom></app-bottom>
    </div>
</div>